<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>IOT Platform Mobile Demo</title>
    <link rel='stylesheet' href='/shakemobilegame/static/stylesheets/device.css' />    
</head>

<body >

<style type="text/css">

.tableCSS{
	table-layout: fixed; 
	word-break: break-all;
	width:100%;
}



td{
	text-align:left;

}

th{
	font-size:1.1rem;
	text-align:left;

}


label{
	text-align:left;
	font-size:1.1rem;
	font-weight: bold;
}


</style>







<div class="outer-main">
	<div class="trail left"></div>
	<div class="trail right"></div>
	<tr></tr>

	<div class="main">

                <div style="width:100%;">
                <table  class="tableCSS">
		<tr><th>We have a Demo to help you learn how to develop an project with our Iot platform</th></tr>
		<tr></tr>
                </table>
                </div>


		<div style="width:100%;">
		<table class="tableCSS" >
		<tr><th>1. The link of a webpage collects mobile phone's sensor data</th></tr>
		<tr><td><a href="http://crl.ptopenlab.com:8800/shakemobilegame/device/{{userID}}" >http://crl.ptopenlab.com:8800/shakemobilegame/device/{{userID}}</a></td></tr>
		<tr></tr>
		<tr><th>2. The link of a webpage displays collected data</th></tr>
		<tr><td>https://ptopenlab.com/iotdm/#/device/details/{{userID}}/name/DemoUser</td></tr>
		<tr></tr>
		</table>
		</div>


                <div style="width:100%;">
                <table  class="tableCSS">
		<tr><th>3. You need to login before visiting the above webpages, the login page link</th></tr>
		<tr><td>http://ptopenlab.com/iotdm/#/account/login</td></tr>
		<tr></tr>
                </table>
                </div>


		<div>
		<table style="width:100%;">
		<tr><th colspan="2">4. We have registered an account for all users, here is the login info</th></tr>
		<tr>
			<td>Name:</td>
			<td>aDemoOnPhone@163.com</td>
		</tr>
		<tr>
			<td>Password:</td>
			<td>aDemoOnPhone</td>
		</tr>

		<tr></tr>
		<tr><th colspan="2">5. The source code will be available soon</th></tr>

		</table>
		</div>
		
	</div>
	
</div>
</body>
</html>

